@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.auth-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  padding: 28px 16px;
  font-family: "Inter", sans-serif;
}
body.auth-page {
  overflow: hidden;
}

.auth-logo {
  position: fixed;
  top: 24px;
  width: 240px;
  display: flex;
  justify-content: center;
}

.auth-logo-img {
  width: 240px;
  max-width: 85%;
  height: auto;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  margin-top: 140px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  padding: 32px 20px 28px;
}


.auth-card h3 {
  margin-bottom: 8px;
  font-weight: 700;
}

.auth-subtitle {
  color: #4b5563;
  margin-bottom: 20px;
}

.auth-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.input-icon-wrapper {
  position: relative;
}

.input-with-icon {
  padding-left: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000000;
}

.auth-card form .btn {
  border-radius: 10px;
  padding: 12px 14px;
}
.auth-link {
  color: #111;
  font-weight: 600;
  cursor: pointer;
}
.auth-link:hover {
  text-decoration: underline;
}
.auth-registro {
  text-align: center;
  margin-top: 10px;
}
.button {
  width: 100%;

  position: relative;
  cursor: pointer;

  padding: 12px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgba(71, 81, 92, 1) 0%,
    rgba(11, 21, 30, 1) 45%
  );

  color: rgb(255, 255, 255, 0.66);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.03) translateY(-2px);
}

.button:hover::before {
  opacity: 1;
}


.error-rojo {
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
  color: #ff0000;
  border-radius: 10px;
}

.alerta-verde {
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
  color: #08e91bce;
}

