


.gestion-usuarios-page {
      background-image: url("../../../media/background/Patrón de Botillería Gran Pirula.png");
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
background-size: 300px;
  background-color: white;
  min-height: 100vh;
    width: 100%;
}